@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BluSchool</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="~/Static/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body style="background-image: url(/Static/images/Resim.png );
             background-size: cover;
             background-attachment: fixed;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">BluSchool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="#">Hakkımızda</a>
                </li>*@
            </ul>
            <form class="form-inline my-2 my-lg-0">
                @if (!String.IsNullOrEmpty(User.Identity.Name))
                {

                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:white">Merhaba @User.Identity.Name!</a>

                    <a type="submit" class="btn btn-outline-primary" style="margin-left:6px" href="/Account/LogOff">Cikis Yap</a>

                }
                else
                {
                    <a class="btn btn-outline-primary" href="/Account/Register" role="button">Kayit Ol</a>
                    <a class="btn btn-outline-primary" style="margin-left:4px" href="/Account/Login" role="button">Giris Yap</a>
                }
            </form>
        </div>
    </nav>

    <div class="container body-content pt-4">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/Static/lib/jquery/dist/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="~/Static/js/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
